:root {
  --color_pink: #ff599e;
  --color_violet: #da6bf9;
  --color_indigo: #9e84ed;
  --color_blue: #52acf7;
  --color_turquoise: #15ebc1;
  --color_lemongrass: #dbfdcc;
  --color_white: #ffffff;

  /* --color_pink: #ff87b9; */
  /* --color_violet: #e38dfa; */
  /* --color_indigo: #b7a3f2; */
  /* --color_blue: #65b5f8; */
  /* --color_turquoise: #15ebc1; */
  /* --color_lemongrass: #dbfdcc; */
  /* --color_white: #ffffff; */

  --color_bg-0: #162532;
  --color_bg-1: #111e29;

  --color_mono-bg-0: #242424;
  --color_mono-bg-1: #1e1e1e;

  --doc-width: 600px;
}

html {
  font-size: 1.0625rem;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--color_bg-0);
  color: var(--color_lemongrass);
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.container {
  /* background: #ffffff22; */
  max-width: var(--doc-width);
  margin: 0 auto;
  overflow: hidden;
}

.hero {
  display: flex;
  flex-direction: column;
  height: min(100vw, var(--doc-width));
  padding: 1rem;
}

.hero_title {
  flex-grow: 1;
  writing-mode: vertical-rl;
  line-height: 1;
  font-size: min(10vw, calc(var(--doc-width) * 0.1));
  transform: translateX(0.1em);
}

.hero_color-bar {
  height: 1.5rem;
  background: rgb(255, 89, 158);
  background: linear-gradient(
    90deg,
    rgba(255, 89, 158, 1) 0%,
    rgba(218, 107, 249, 1) 16.7%,
    rgba(158, 132, 237, 1) 33.4%,
    rgba(82, 172, 247, 1) 50.1%,
    rgba(21, 235, 193, 1) 66.8%,
    rgba(219, 253, 204, 1) 83.5%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    var(--color_pink) 0%,
    var(--color_violet) 16.7%,
    var(--color_indigo) 33.4%,
    var(--color_blue) 50.1%,
    var(--color_turquoise) 66.8%,
    var(--color_lemongrass) 83.5%,
    var(--color_white) 100%
  );
}

@supports (-webkit-background-clip: text) {
  .hero_title {
    background-color: red;
    background-image: linear-gradient(
      90deg,
      rgba(21, 235, 193, 1) 0%,
      rgba(219, 253, 204, 1) 50%,
      rgba(255, 255, 255, 1) 100%
    );
    background-size: 20%;
    background-repeat: repeat;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}
